html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: monospace;
  color: white;
  font-family: monospace;
}

h3 {
  font-family: monospace;
  color: white;
}

p {
  font-family: monospace;
  color: white;
}

small {
  font-family: monospace;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* Uniform gap between both rows and columns */
}

.color-box {
  margin: 10px auto;
  border-radius: 50%;
}
